.homework-detail-title-container{
    background-color: #fff;
    padding: 30rpx 0rpx;
    margin-top: 15rpx;
    .homework-title{
        padding: 0rpx 30rpx;
        font-size: 35rpx;
    }
    .homework-img-list{
        margin-top: 25rpx;
        padding: 0 20rpx;
    }
}

.homework-detial-cell-container{
    margin-top: 15rpx;
}
.homework-detail-bottom-container{
    margin-top: 15rpx;
}