$uniform-distance: 35rpx;
.home-list-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: $uniform-distance;
    margin: 0rpx $uniform-distance;
    .home-item {
        margin-top: $uniform-distance;
        aspect-ratio: 1/1;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text {
            margin-top: 40rpx;
            font-size: 31rpx;
        }
    }
}