.textarea-eclass {
	height: 280rpx;
}

.content-area-container {
	background-color: #fff;
	padding-bottom: 30rpx;
}

.action-btn-container {
	margin-top: 30rpx;
}
.block{
    height: 300rpx;
}












// 选择班级弹窗

.pop-action-container{
	margin: 40rpx 30rpx;
	display: flex;
	justify-content: space-between;
	.pop-title {
		font-weight: bolder;
	}
}
.pop-list-main {
	margin: 30rpx 0rpx;
}
