.textarea-eclass {
	height: 280rpx;
}

.content-area-container {
	background-color: #fff;
	padding-bottom: 30rpx;
}

.add-file-btn {
	margin-left: 20rpx;
	width: 200rpx;
	height: 200rpx;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background-color: #eceaea;

	.btn-file-text {
		margin-top: 20rpx;
		font-size: 26rpx;
	}
}

.action-btn-container {
	margin-top: 30rpx;
}