/* pages/personal/index.wxss */
.unlogin-block{
    position: absolute;
    bottom: 20rpx;
    left: 0;

    width: 100%;
    text-align: center;

    height: 90rpx;
    line-height: 90rpx;

    border-style: solid;
    border-radius: 0.1rpx;
    border-radius: 100rpx;
}