.sutdent-card-container {
	margin-top: 30rpx;
	background-color: #fff;
	padding: 30rpx;
	display: flex;
	align-items: center;
}

.student-card-right-conatainer {
	margin-left: 35rpx;
	display: flex;
	flex-direction: column;

	.card-name {
		font-size: 33rpx;
	}

	.card-class {
		margin-left: 15rpx;
		background-color: #d9e1ff;
		font-size: 23rpx;
		padding: 10rpx 20rpx;
		border-radius: 30rpx;
		color: #0052d9;
	}

	.card-number {
		margin-top: 10rpx;
		font-size: 28rpx;
	}
}

.echarts-radar-container {
	margin-top: 30rpx;
	height: 600rpx;
	padding: 30rpx;
	width: 100%;
	background-color: #fff;
}

.echarts-line-container {
	height: 800rpx;
	padding: 30rpx;
	width: 100%;
	background-color: #fff;
}

.tel-cell-tag {
	margin-left: 15rpx;
	background-color: #d9e1ff;
	font-size: 23rpx;
	padding: 10rpx 20rpx;
	border-radius: 30rpx;
	color: #0052d9;
}

.history-list-container {
	margin: 30rpx 00rpx;
}
