/* components/good-card/index.wxss */
.goods-card {
    box-sizing: border-box;
    font-size: 24rpx;
    background-color: #fff;
    border-radius: 16rpx;
    width: 342rpx;
    margin-bottom: 20rpx;
    margin-top: 20rpx;
}

.img__my {
    width: 338rpx;
    height: 338rpx;
    border-radius: 16rpx 0rpx;
}

.text__main {
    margin-top: 20rpx;
}

.card-price-text {
    font-weight: bolder;
    font-size: 40rpx;
}

.card-down-block {
    margin-top: 10rpx;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-text-block {
    padding: 20rpx;
}