.msg-detail-input-container{
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
}
.msg-detail-content-left{
    display: flex;
    align-items: center;

    margin: 30rpx;

    .left-text-container {
        margin-left: 20rpx;
    }
}
.left-text-container {
    font-size: 30rpx;
    padding: 20rpx;
    background-color: #fff;
    border-radius: 30rpx;
    border-top-left-radius: 0rpx;
}