$radius-num: 12rpx;

.image-container {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 10rpx;
	position: relative;

	.content-container {
		display: block;
		width: 100%;
		height: 100%;
	}

	image {
		width: 100%;
		border-radius: $radius-num;
		height: 100%;
	}
	.close-btn-container {
		position: absolute;
		top: 0;
		right: 0;
		padding: 12rpx;
		border-top-right-radius: $radius-num;
		border-bottom-left-radius: $radius-num;
		background-color: rgba($color: #333, $alpha: 0.5);
	}
	
}