$length: 200rpx;
$radius-num: 15rpx;

.image-container {
	height: $length;
	width: $length;
	position: relative;
	.close-btn-container{
		position: absolute;
        top: 0;
        padding: 5rpx;
		right: 0;
		background-color: rgba($color: #f6f6f6, $alpha: 0.5);
		border-bottom-left-radius: $radius-num;
	}
}

.image-main {
	height: $length;
	width: $length;
    border-radius: $radius-num;
}