.select-img-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
	.item {
		aspect-ratio: 1/1;
		margin: 10rpx;
		border-radius: 10rpx;
		image {
			display: block;
			width: 100%;
			height: 100%;
		}
	}
}

// 添加图片按钮
.add-file-btn {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background-color: #eceaea;

	.btn-file-text {
		margin-top: 20rpx;
		font-size: 26rpx;
	}
}


// 图片布局